.body {
  background-color: #eaeaea;
  min-height: 100vh;
}

a {
  text-decoration: none;
  /* color: #212529; */
}

a:hover {
  text-decoration: underline;
}

.gradient-background {
  background: rgb(0, 55, 98);
  background: linear-gradient(
    125deg,
    rgba(0, 55, 98, 1) 0%,
    rgba(39, 100, 191, 1) 35%,
    rgba(0, 182, 219, 1) 100%
  );
}

.react-calendar {
  width: 100% !important;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}
